body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 16px;
  line-height: 18px;
  margin: 0;
  padding-bottom: 100px;
  background-color: #F8F8FF;
}

a{
  color: #A33;
  text-decoration: none;
}

a:hover{
  color: #F66;
}
h2.center {
  padding-top: 30px;
}

.center {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 5px;
}

.container {
  border-color: #AAA;
  border-style: solid;
  border-width: 1px 0 0 0;

  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  overflow: auto;
}

.container p {
  margin: 9px;
}

.item {
  display: block;
  float: left;
  width: 280px;
  margin: 9px;

  border-color: #AAA;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;

  overflow: hidden;
  background-color: #FFF;
}

.item h4 {
  margin: 6px;
  text-align: center;
}

.showcase{
  display: block;
}

.showcase img{
  max-width: 100%;
  display: block;
}