<div class="skills">
  <div class="menu collapsed">
    <ul id="skill-list">
      {% for skill in site.skills %}
        <li skill="{{ skill.skill }}">
          <input class="checkbox" type="checkbox" name="{{ skill.skill }}" value="{{ skill.title }}">
          <a href="{{ skill.url }}" >{{ skill.title }}</a>
        </li>
      {% endfor %}
    </ul>

    <noscript>
      <button class="toggle no-js">
      </button>
    </noscript>
    <script>

      document.write(`
        <button class="toggle">
        </button>
      `)
    </script>
  </div>
</div>

<div class="projects">
  {% include projectCard.html projectObject=site.data.fatmap %}

  {% assign projects=site.projects | reverse %}
  {% for project in projects %}
    {% include projectCard.html projectObject=project %}
  {% endfor %}
</div>

<script>

const toggle = document.querySelector(".skills .menu .toggle");
const menu = document.querySelector(".skills .menu");

toggle.addEventListener("click", () => {
  menu.classList.toggle("collapsed");
});

</script>
