{% assign skills = include.projectObject.skills | join: "," %}

<div class="card" skills="{{ skills }}">
  <div class="fill">
    <img src="{{ include.projectObject.cover }}" />
  </div>

  <div class="fill">
    <div class="date">
      {% if include.projectObject.date_label %}
        {{ include.projectObject.date_label }}
      {% else %}
        {{ include.projectObject.date | date: "%Y" }}
      {% endif %}
    </div>

    <a class="fill" href="{{ include.projectObject.url }}"> </a>

    <div class="info">
      <div class="title">
        <a href="{{ include.projectObject.url }}">{{ include.projectObject.title }}</a>
      </div>

      <div class="skill-tags">
        {% for skill in include.projectObject.skills %}
          {% include skillTag.html skillObject=skill %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
