.skills {
  overflow: hidden;
  position: absolute;
  width: 200px;
  z-index: 1;
  padding-bottom: 40px;
  pointer-events: none;

  .menu {
    position: relative;
    pointer-events: auto;
    background-color: rgb(214, 142, 65);
    transition: all 0.2s ease;

    .toggle {
      position: absolute;
      display: block;
      left: calc(50% - 20px);
      height: 40px;
      width: 40px;
      bottom: -40px;
      background-color: rgb(214, 142, 65);
      border: none;
      color: white;
      outline: none;
      border-bottom-right-radius: 8px;
      border-bottom-left-radius: 8px;
      transition: all 0.2s ease;
    }

    .toggle:after {
      display: inline-block;
      content: "V";
      transform: rotate(180deg);
      transition: all 0.2s ease;
    }

    .toggle:hover:after {
      transform: rotate(180deg) scale(2);
    }

    .toggle.no-js {
      left: calc(50% - 70px);
      width: 140px;
    }

    .toggle.no-js:after {
      content: "Enable javascript for skill filtering";
    }

    .toggle.no-js:hover:after {
      transform: none !important;
      color: #eee;
    }
  }

  .menu.collapsed {
    transform: translateY(-100%);

    .toggle:after {
      transform: rotate(0deg);
    }

    .toggle:hover:after {
      transform: rotate(0deg) scale(2);
    }
  }

  ul {
    padding-left: 1em;
    padding-bottom: 0.5em;
    margin: 0;
  }

  li {
    list-style: none;
    display: flex;

    a {
      flex: 1;
    }
  }

  a {
    line-height: 2em;
    display: inline-block;
    color: white;
    transition: all 0.2s ease-in-out;
  }

  a:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }
}

.projects {
  a {
    color: rgb(255, 204, 128);
    text-decoration: none;
  }

  a:hover {
    color: rgb(255, 246, 205);
  }

  .card:hover {
    img {
      transform: scale(1.05);
      opacity: 0.9;
    }

    .info {
      background-color: rgba(0, 0, 0, 0.6);
    }
  }

  .card {
    background-color: #000;
    overflow: hidden;
    display: block;
    position: relative;
    width: 100%;
    // 16:9 aspect ratio
    padding-bottom: 56.25%;

    .fill {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }

    img {
      position: absolute;
      object-fit: cover;
      width: 100%;
      height: 100%;
      transform: scale(1);
      opacity: 0.8;

      transition: all 0.2s ease-in-out;
    }

    .date {
      position: absolute;
      top: 6px;
      right: 21px;
      color: white;
      text-shadow: 0 0 8px black;
    }

    .info {
      padding-left: 1em;
      padding-right: 1em;
      background-color: rgba(0, 0, 0, 0.4);
      transition: all 0.2s ease-in-out;
      position: absolute;
      height: 100px;
      bottom: 0;
      left: 0;
      right: 0;

      .title {
        font-size: 1.2em;
        margin: 0.2em 0;
      }

      .skill-tags {
        .skill-tag {
          margin: 2px 2px 2px 0px;
          padding: 0.2em;
          display: inline-block;
          background-color: rgba(255, 177, 59, 0.5);
          color: white;
          transition: all 0.2s ease-in-out;
        }

        .skill-tag:hover {
          background-color: rgba(197, 130, 29, 1);
        }
      }
    }
  }
}

.projects.js {
  .card {
    position: absolute;
    transition: all 0.5s ease;
  }

  .card.hide {
    opacity: 0;
    pointer-events: none;
  }
}
